/* autors Valdis Arelis 231RMC177 */

/* elements */
a {
  color: black;
  text-decoration: none;
}

div {
  background-color: rgb(243, 140, 224);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

html {
  background-color: rgb(255, 255, 255);
}

/* classes */
.post {
  font-family: Arial, Helvetica, sans-serif;
}

/* ids */

#more-text-button {
  font-weight: bold;
  background-color: transparent;
}